/*reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*roots*/
:root{
  --black: #040F0F;
  --darkgray: #50555A;
  --lightgray: #A1A1A1;
  --orange: #BA2D0B;
  --red: #960200;
}

/*Schriften, Listen und Bilder*/
a{
  color: var(--black);
}

a:hover{
  color: var(--orange);
}

a, button{
  text-decoration: none;
  transition: color .4s ease-in-out;
  background-color: .4s ease-in-out;
}

h1{
  color: var(--black);
}

h2{
  color: var(--black);
}

h3{
  color: var(--black);
}

h4{
  color: var(--red);
}

p{
  color: var(--black);
}

img{
  width: 100%;
}

/*Header*/
header{
  height: 100px;
  background-color: var(--black);
  color: var(--lightgray);
}

header a{
  color: var(--lightgray);
}

.main-nav ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*main*/
.hero-img{
  height: 100vh;
  object-fit: cover;
}

.img-element{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-element img{
  width: 33%;
  object-fit: cover;
}

/*footer*/
footer{
  background-color: var(--black);
  height: 100px;
}

.footer a{
  color: var(--lightgray);
}

.social-icons > * {
  padding: 10px;
}

