/*reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*roots*/
:root{
  --black: #040F0F;
  --darkgray: #50555A;
  --lightgray: #A1A1A1;
  --orange: #9A0003;
  --red: #5A0001;
  --lightred: #974d4e;
}

/*Schriften*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap');

.roboto-slab-uniquifier {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


/*Schriften, Listen und Bilder*/
a{
  color: var(--orange);
  transition: color .4s ease-in-out;
}

a:hover{
  color: var(--darkgray);
  font-weight: bold;
  cursor: pointer;
}

a, button{
  text-decoration: none;
  transition: color .4s ease-in-out;
  background-color: .4s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-radius: 2px;
}

h1{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 8rem;
}

h2, #entree, #maincourse, #dessert, #drinks{
  color: var(--black);
  font-family: "Roboto Slab", serif;
  font-size: 5.1rem;
  text-align: center !important;
  padding: 60px;
  text-align: left;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
  overflow: hidden;
}

h3{
  color: var(--black);
  font-family: "Kaushan Script", cursive;
}

h4{
  color: var(--red);
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

main p, h3, h4{
  max-width: 70%;
  text-align: left;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
}

p{
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 60px 0px 60px 0px;
}

img{
  width: 100%;
}

/*Animations*/
.arrow{
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  bottom: -2rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  z-index: 3;
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*Header*/
header{
  height: 115px;
  background-color: var(--black);
  color: var(--lightgray);
  z-index: 2;
  position: absolute; /* or position: fixed, if you want a sticky menüüüüü*/
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px 10px 100px;
}

header a{
  color: var(--lightgray);
}

/*Navigation*/
.main-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.main-menu ul li{
  transition: .4s ease-in-out;
}

.main-menu ul li:hover{
  scale: 1.1;
}

.main-menu ul li a img{
  height: 70px;
}

.main-menu ul li a:hover{
  color: var(--orange);
}

.scale{
  color: var(--darkgray);
}

html {
  scroll-behavior: smooth;
}

/*Burgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 30px;
}

.hamburger i {
  width: 50px;
  border-radius: 0px !important;
}

.hamburger svg{
    color: var(--lightgray);
    transition: color 0.6s ease-in-out;
}

.hamburger svg:hover{
  color: var(--orange);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0; right: 0;
  width: 100%;
  height: 80%;
  background-color: var(--black);
  z-index: 1000;
}
 
.mobile-menu-header {
  background-color: var(--black);
  padding: 20px;
  text-align: right;
  height: 90px;
}
 
.close-mobile-menu {
  font-size: 40px;
  color: var(--red);
  cursor: pointer;
}
 
.mobile-menu-list {
  list-style-type: none;
  margin: 0; padding: 0;
  color: var(--lightgray);
  height: 100%;
  overflow-y: auto;
}
 
.mobile-menu-list a {
  width: 80%;
  display: block;
  padding: 20px;
  color: var(--lightgray);
  text-decoration: none;
  border-bottom: 1px solid var(--darkgray);
  font-size: 18px;
  transition: background-color 0.4s ease-in-out;
}
 
.mobile-menu-list a:hover {
  color: var(--orange);
}

/*main*/
.main p{
  max-width: 80%;
  text-align: center;
}

.hero-img-container{
  position: relative;
  height: 100vh;
}

.hero-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/*Homepage*/
.hero-section{
  margin: 100px auto 100px auto;
}

.button_reservation button{
  display: block;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--black);
  color: var(--lightgray);
  border: none;
  font-style: italic;
  transition: .4s ease-in-out;
}

.button_reservation button:hover{
  background-color: var(--orange);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.adress_element{
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 150px auto;
  margin-bottom: 100px;
}

.adress_element > *{
  flex-basis: 33%;
  text-align: center;
}

.adress_element-text{
  padding: 0px;
}

.specialities{
  background-color: var(--darkgray);
  padding: 50px 0px 150px;
  margin-bottom: 100px;
}

.specialities h2, .specialities p{
  color: white;
}

.specialities_button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}

.specialities_button-menu button, .specialities_button-contact button{
  flex-basis: 50%;
  height: 50px;
  min-width: 100px;
  background-color: var(--black);
  color: var(--lightgray);
  border: none;
  font-style: italic;
  transition: .4s ease-in-out;
  margin: 0 auto;
}

.specialities_button button:hover{
  background-color: var(--orange);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.img-element{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-element-element{
  width: 33.33%;
  position: relative;
  display: inline-block;
  height: 700px;
  overflow: hidden;
}

.img-element-element img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease-in-out;
}

.img-element-element img:hover{
  opacity: 0.6;
  background-color: .4s ease-in-out;
}

.img-element-opacity{
  opacity: 0.5;
  z-index: 1;
}

.img-element-button button{
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: color .4s ease-in-out, background-color .4s ease-in-out, transform .4s ease-in-out;
  background-color: var(--black);
  color: var(--lightgray);
  font-style: italic;
  height: 50px;
  width: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-element-button button:hover{
  background-color: var(--orange);
  color: white;
  transform: translate(-50%, -50%) scale(1.1);
  cursor: pointer;
}

/*Menu-Page*/
.menu_grid{
  padding-bottom: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
  grid-template-rows: 80px 80px;
  border-bottom: solid 2px var(--black);
}

.menu_dish-title, .menu_dish-details{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0;
}

.menu_dish-price{
  font-family: 'Roboto', sans-serif;
  text-align: right;
  margin: 0;
  max-width: 100% !important;
}

.menu_button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}

.menu_button a button{
  height: 50px;
  min-width: 100px;
  background-color: var(--black);
  color: var(--lightgray);
  border: none;
  font-style: italic;
  transition: .4s ease-in-out;
  margin: 0 auto;
}

.menu_button a button:hover{
  background-color: var(--orange);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.top {
  --offset: 400px; 
  position: sticky;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  margin-right:10px; 
  /*place-self: end;*/
  margin-top: calc(100vh + var(--offset));
  
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: var(--lightgray);
  background: var(--black);
  border: none;
  border-radius: 100px;
  white-space: nowrap;
  font-style: italic;
  transition: .4s ease-in-out;
}

/*About us*/
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.team > * {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
  box-sizing: border-box;
}

.team_img, .team_img-jobsearching {
  position: relative;
  display: block;
  width: 100%; /* Set a fixed width for all images */
  height: 600px;
  overflow: hidden;
}

.team_img img, .team_img-jobsearching img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.team_img-job {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.team_img p, .team_img h4, .team_img-jobsearching h4 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 0px;
}

.team_img-job button, .team_img-jobsearching button {
  color: white;
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--black);
  color: var(--lightgray);
  border: none;
  border-radius: 5px;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.team_img-job button:hover{
  background-color: var(--orange);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.quality{
  display: flex;
  flex-direction: row;
  padding: 100px 0px 200px 0px;
}

.quality > * {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.quality div img{
  height: 200px;
  width: auto;
  transition: ease-in-out .4s;
}

.quality div img:hover{
  scale: 1.1;
}

/*Contact form*/
.form{
  display: flex;
  flex-direction: column;
  max-width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--black);
  margin: 0 auto;
  padding-top: 120px;
}

.form input{
  background-color: var(--lightgray);
  border: none;
  border-radius: 2px;
  min-height: 30px;
  margin-bottom: 20px;
}

.message{
  height: 90px;
  width: 100% !important;
}

.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.checkbox input{
  max-width: 15px;
  margin-bottom: 0px;
}

.map{
  display: block;
  margin: 0 auto 200px auto;
  width: 80%;
  height: 450px;
}

/*footer*/
footer{
  background-color: var(--black);
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p{
  color: var(--lightgray);
}

footer > *{
  flex-basis: 30%;
}

.footer a{
  color: var(--lightgray);
}

.social-icons > * {
  padding: 10px;
}

/*Responsive für Tablet-Bildschirm*/
@media (max-width: 768px) {
/*general stuff*/
  h1{
    font-size: 5rem;
  }

  h2, #entree, #maincourse, #dessert, #drinks{ 
    font-size: 3rem;
  }

/*menu*/
  .menu_button{
    flex-direction: row;
    justify-content: space-between;
  }

  .menu_button a{
    flex-basis: 50%;
  }

  .menu_button a button{
    min-width: 150px;
    margin: 20px 0px 20px 0px;
  }

  .grid-container {
    padding-bottom: 60px;
  }

/*Header & Navigation*/
  .main-menu{
    display: none;
  }

  .hamburger{
    display: block;
    position: absolute;
    top: 33px;
  }

  header{
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 50px;
    padding: 10px 20px;
  }

  /*Homepage*/
  .adress_element{
    max-width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 100px 0px;
  }

  .adress_element > *{
    padding-bottom: 50px;
  }

  .adress_element-text{
    padding: 0px;
    max-width: 100%;
  }

  .specialities{
    padding: 50px 0px 50px;
  }

  .specialities_button{
    flex-direction: column;
    align-content: space-evenly;
  }

  .specialities_button-menu button, .specialities_button-contact button{
    height: 80px;
    min-width: 150px;
  }

  .specialities_button a{
    padding-bottom: 30px;
  }

  .img-element {
    flex-direction: column;
  }

  .img-element-element {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .img-element-element img {
    height: 50vh;
  }

  .img-element-element:first-child img, .img-element-element:last-child img{
    display: none;
  }

/*Über uns*/
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .team > * {
    flex-basis: 50%;
    max-width: 50%;
  }

  .team_img, .team_img-jobsearching {
    width: 100%;
    height: auto;
  }

  .team_img img{
    object-fit: cover;
  }

  .team_img:last-child{
    display: none;
  }

  .team_img h4, .team_img p{
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
  }

  .quality{
    flex-direction: column;
    padding: 100px 0px 100px 0px;
  }
  
  .quality > * {
    padding-bottom: 50px;
  }

  .quality div img{
    height: 150px;
  }

  /*Footer*/
  footer{
    flex-direction: column;
  }

  footer p{
    padding: 0;
  }

  footer > *{
    padding: 30px 0px 30px 0px;
  }
}

/*Responsive für Mobile-Bildschirm*/ 
@media (max-width: 512px) {
  /*Generelles*/
  h1{
    font-size: 4rem;
  }

  h2, #entree, #maincourse, #dessert, #drinks{ 
    font-size: 3rem;
  }

  /*menu*/
  .menu_button{
    flex-direction: row;
    justify-content: center;
  }

  .menu_button a {
    display: flex;
    justify-content: center;
  }

  .grid-container {
    padding-bottom: 80px;
  }
}