/*reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*roots*/
:root{
  --black: #040F0F;
  --darkgray: #50555A;
  --lightgray: #A1A1A1;
  --orange: #BA2D0B;
  --red: #960200;
}

/*Schriften*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}




/*Schriften, Listen und Bilder*/
a{
  color: var(--black);
}

a:hover{
  color: var(--orange);
}

a, button{
  text-decoration: none;
  transition: color .4s ease-in-out;
  background-color: .4s ease-in-out;
}

h1{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

h2{
  color: var(--black);
}

h3{
  color: var(--black);
}

h4{
  color: var(--red);
}

main p{
  max-width: 70%;
}

p{
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

img{
  width: 100%;
}

/*Header*/
header{
  height: 100px;
  background-color: var(--black);
  color: var(--lightgray);
}

header a{
  color: var(--lightgray);
}

.main-nav ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*main*/
.hero-img{
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.img-element{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-element img{
  width: 33%;
  object-fit: cover;
}

/*footer*/
footer{
  background-color: var(--black);
  height: 100px;
}

.footer a{
  color: var(--lightgray);
}

.social-icons > * {
  padding: 10px;
}

